# Lottery Projects

Lottery dataset can be accessed in [Kaggle](https://www.kaggle.com/datascienceai/lottery-dataset).

In the 6/49 lottery, six numbers are drawn from a set of 49 numbers that range from 1 to 49. The drawing is done without replacement, which means once a number is drawn, it's not put back in the set.

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

lottery = pd.read_csv('649.csv')
lottery.head(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34

In [26]:
lottery.tail(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

In [24]:
lottery['SEQUENCE NUMBER'].value_counts()

0    3591
1      45
2      19
3      10
Name: SEQUENCE NUMBER, dtype: int64

In [8]:
def factorial(n):
    num = 1
    for i in range(1, n+1):
        num *= i
    return num

def combinations(n, k):
    return factorial(n)/(factorial(n-k)*factorial(k))

In [51]:
def one_ticket_probability():
    total = combinations(49, 6)
    pct = 1/total
    print("The probability of winning with one ticket is {:.8%}".format(pct))

one_ticket_probability()

The probability of winning with one ticket is 0.00000715%

In [52]:
def multi_ticket_probability(num):
    total = combination(49,6)
    pct = num/total
    print("The probability of winning with {} ticket is {:.8%}".format(num, pct))
    
for each in [1, 10, 100, 10000, 1000000, 6991908, 13983816]:
    multi_ticket_probability(each)

The probability of winning with 1 ticket is 0.00000715%
The probability of winning with 10 ticket is 0.00007151%
The probability of winning with 100 ticket is 0.00071511%
The probability of winning with 10000 ticket is 0.07151124%
The probability of winning with 1000000 ticket is 7.15112384%
The probability of winning with 6991908 ticket is 50.00000000%
The probability of winning with 13983816 ticket is 100.00000000%

In [28]:
lottery.columns

Index(['PRODUCT', 'DRAW NUMBER', 'SEQUENCE NUMBER', 'DRAW DATE',
       'NUMBER DRAWN 1', 'NUMBER DRAWN 2', 'NUMBER DRAWN 3', 'NUMBER DRAWN 4',
       'NUMBER DRAWN 5', 'NUMBER DRAWN 6', 'BONUS NUMBER'],
      dtype='object')

In [41]:
def extract_numbers(row):
    col_basic = 'NUMBER DRAWN '
    num = []
    for i in range(1, 7):
        col = col_basic + str(i)
        num.append(row[col])
    return set(num)

win = lottery.apply(extract_numbers, axis=1)

In [49]:
def check_historical_occurence(u_list, win):
    num_wins = win.apply(lambda x: x==set(u_list)).sum()
    
    if num_wins==0:
        print('This set of numbers never matched any historical winner data!')
    else:
        print('This set of numbers winned {} times according to historical data!'.format(num_wins))
    
check_historical_occurence([3, 11, 15, 14, 41, 43], win)

This set of numbers never matched any historical winner data!

In [68]:
def probability_less_6(i):
    successful_num = combinations(6, i) * combinations(49-i, 6-i)
    total_num = combination(49,6)
    pct = successful_num / total_num
    simple_com = round(total_num/successful_num)
    print('Your chances of having {} winning numbers with this ticket are {:.5%}\nThis measn you will win if you buy {} tickets!\n'.format(i, pct, simple_com))
    
    
for i in range(2, 6):
    probability_less_6(i)

Your chances of having 2 winning numbers with this ticket are 19.13265%
This measn you will win if you buy 5 tickets!

Your chances of having 3 winning numbers with this ticket are 2.17108%
This measn you will win if you buy 46 tickets!

Your chances of having 4 winning numbers with this ticket are 0.10619%
This measn you will win if you buy 942 tickets!

Your chances of having 5 winning numbers with this ticket are 0.00189%
This measn you will win if you buy 52969 tickets!